body {
    margin-inline: 5rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

#info-h1 {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
}

#info-p {
    margin-top: 0rem;
    margin-bottom: 6rem;
}

.container-width {
    display: flex;
    flex-direction: column;
}

#file-select {
    width: 75%;
    max-width: 30rem;
    margin-bottom: 1rem;
}

#file-textarea {
    width: auto;
    max-width: 60rem;
    height: 25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

#file-button {
    height: 2rem;
    width: 8rem;
}
